@use 'sass:math';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/abstract/z-index' as z;
@use 'pkg:common/theme';

/* shared with analysis */
.game__meta {
  @extend %box-neat-force;

  background: theme.$c-bg-box;

  section {
    padding: 0.8em variables.$block-gap;

    &:not(:last-child) {
      border-bottom: theme.$border;
    }

    &.game__links {
      display: flex;
      padding: 0;

      a {
        border-radius: 0;

        &:last-child {
          flex: 1;
        }

        &:nth-child(2) {
          border-left: theme.$border;
        }
      }
    }
  }

  &__infos {
    @extend %flex-center-nowrap;

    position: relative; /* for bookmark */
    &::before {
      font-size: 3rem;
      margin-right: 4%;
    }

    p {
      margin: 0;
    }

    time {
      opacity: 1;
    }
  }

  .status {
    text-align: center;
  }

  &__players {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0.3rem;
    font-size: 90%;

    &.orientation-gote {
      flex-direction: column;
    }

    .berserk::before {
      margin-left: 4px;
    }
  }

  .bookmark {
    position: absolute;
    right: 0;
    z-index: z.get('game-bookmark');
    color: theme.$c-font-dim;

    ::before {
      font-size: 1.3em;
    }

    &:not(.bookmarked) .on,
    &.bookmarked .off {
      display: none;
    }
  }

  .user-tv {
    @extend %nowrap-ellipsis;

    font-size: 1.2em;
  }
}

.game__tournament-clock {
  .clock {
    @extend %roboto;

    font-size: 2em;
    text-align: center;
  }
}

@media (hover: hover) {
  .game__meta .bookmark {
    display: none;
  }

  .game__meta:hover .bookmark {
    display: block;
  }
}

.simul-complete {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2rem;
  }

  div[data-icon] {
    font-size: 6rem;
    padding: 1rem;
  }
}

.rank-change {
  display: flex;
  flex-direction: column;
  user-select: none;
  min-width: 200px;

  .title {
    font-size: 1.5rem;
  }

  div[data-icon] {
    font-size: 5rem;
    padding-top: 1rem;
  }

  .rank-tag {
    font-size: 3rem;
    letter-spacing: 2px;
  }
}
