html.custom-dark {
  --c-body-gradient: var(--c-bg-page);
  --c-bg-high: oklch(from var(--c-bg-page) calc(l + 0.05) calc(c - 0.01) h);
  --c-bg-low: oklch(from var(--c-bg-high) calc(l + 0.05) c h);
  --c-bg-zebra: oklch(from var(--c-bg-high) calc(l + 0.03) calc(c - 0.006) h);
  --c-bg-zebra2: oklch(from var(--c-bg-zebra) calc(l + 0.04) c h);
  --c-bg-box-opaque: var(--c-bg-high);
  --c-bg-box: var(--c-bg-high);
  --c-page-input: oklch(from var(--c-bg-high) calc(l - 0.04) c h);
  --c-bg-input: var(--c-page-input);
  --c-bg-action: color-mix(in srgb, var(--c-bg-box) 90%, var(--c-font-dim));
  --c-border: oklch(from var(--c-font) calc(l - 0.5) c h);
  --c-border-page: var(--c-border);
  --border: 1px solid var(--c-border);
  --c-bg-metal: var(--c-bg-zebra);
  --c-bg-metal-hover: var(--c-bg-zebra2);
  --c-bg-header-dropdown: var(--c-bg-low);
  --c-header-dropdown: var(--c-popup);
  --c-bg-popup: var(--c-bg-low);
  --c-popup: var(--c-font-clear);
  --c-font-clear: oklch(from var(--c-font) calc(l + 0.05) c h);
  --c-font-clearer: oklch(from var(--c-font-clear) calc(l + 0.09) c h);
  --c-font-dim: oklch(from var(--c-font) calc(l - 0.1) c h);
  --c-font-dimmer: oklch(from var(--c-font) calc(l - 0.25) c h);
  --c-font-page: var(--c-font-dim);
  --c-font-shadow: black;
  --c-shade: oklch(from var(--c-font) 60% c h);
  --text-shadow: none;
  --c-accent-over: #fff; // fallback
  --c-accent-clear: color-mix(in srgb, var(--c-accent) 80%, white);
  --c-accent-dim: color-mix(in srgb, var(--c-accent) 80%, black);
  --c-primary-over: #fff; // fallback
  --c-primary-clear: color-mix(in srgb, var(--c-primary) 80%, white);
  --c-primary-dim: color-mix(in srgb, var(--c-primary) 80%, black);
  --c-secondary-over: #fff; // fallback
  --c-secondary-dim: color-mix(in srgb, var(--c-secondary) 80%, black);
  --c-secondary-dimmer: color-mix(in srgb, var(--c-secondary) 70%, black);
  --c-brag-over: #fff; // fallback
  --c-good: var(--c-green);
  --c-good-over: #fff; // fallback
  --c-bad: var(--c-red);
  --c-error: var(--c-red);
  --c-error-over: #fff; // fallback
  --c-warn: color-mix(in srgb, var(--c-error) 70%, yellow);
  --c-warn-over: #fff; // fallback
  --c-bad-over: #fff; // fallback
  --c-link: var(--c-primary);
  --c-link-clear: var(--c-primary-clear);
  --c-link-dim: var(--c-primary-dim);
  --c-link-hover: oklch(fromo var(--c-primary) l 0.4 h);
  --c-link-over: var(--c-primary-over);
  --c-font-metal-hover: var(--c-font-clear);
  --c-font-metal: inherit;
  --metal-shadow: none;
  --c-primary-glow: color-mix(in srgb, var(--c-primary) 75%, white);
}

@supports (color: oklch(from var(--c-accent) calc(1 - round(l, 1)) 0 0)) {
  html.custom-dark {
    --c-accent-over: oklch(from var(--c-accent) calc(1 - round(l, 1)) 0 0);
    --c-primary-over: oklch(from var(--c-primary) calc(1 - round(l, 1)) 0 0);
    --c-secondary-over: oklch(from var(--c-secondary) calc(1 - round(l, 1)) 0 0);
    --c-brag-over: oklch(from var(--c-brag) calc(1 - round(l, 1)) 0 0);
    --c-good-over: oklch(from var(--c-good) calc(1 - round(l, 1)) 0 0);
    --c-warn-over: oklch(from var(--c-warn) calc(1 - round(l, 1)) 0 0);
    --c-error-over: oklch(from var(--c-error) calc(1 - round(l, 1)) 0 0);
    --c-bad-over: oklch(from var(--c-bad) calc(1 - round(l, 1)) 0 0);
  }
}
