@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';

.forum-post {
  font-size: 1.1em;
  border-top: theme.$border;
  padding: 2rem 0 0.5rem 0;

  &__metas {
    @extend %flex-between;

    margin-bottom: 1.5rem;

    > div {
      @extend %flex-center;
    }

    .author .user-link {
      color: theme.$c-font-dim;
      font-weight: bold;
      font-size: 1.1em;
      margin-right: 1rem;
    }

    .author--op .user-link {
      @extend %box-radius;

      padding: 0.2em;
      padding-right: 0.8em;
      background: theme.$m-primary_bg-box_mix_12;
    }

    .anchor {
      @extend %break-nope;

      color: theme.$c-link-dim;
      font-weight: bold;
    }
  }

  .mod {
    font-size: 0.9em;

    @media (hover: hover) {
      visibility: hidden;
    }

    &.postip {
      margin-left: 1rem;
      max-width: 50vw;
      overflow: hidden;
      display: none;

      @include breakpoint.breakpoint(media-queries.$mq-small) {
        display: block;
      }
    }
  }

  &:hover .mod {
    visibility: visible;
  }

  &:last-child {
    border-bottom: theme.$border;
    margin-bottom: 3rem;
  }

  &.erased {
    background: theme.$c-shade;
    opacity: 0.6;
  }

  &.erased .forum-post__message {
    font-style: italic;
    text-align: center;
    margin: 0;
  }

  &__message {
    @extend %break-word;

    margin-bottom: 0.5em;

    .embed-wrap {
      max-width: calc(60vh * (16 / 9));
      max-width: min(calc(60vh * (16 / 9)), 80vw);
      margin: variables.$block-gap;
    }

    .embed:not(img) {
      @extend %embed;

      &.embed--game {
        @extend %game-embed;
      }
    }

    img {
      max-width: 100%;
      max-height: 90vh;

      &.embed {
        cursor: pointer;
      }
    }
  }

  .edit-buttons {
    text-align: right;
    margin-top: 0.5em;
  }

  .edit-buttons a {
    margin-right: 1em;
  }

  .edit-post-form {
    display: none;
    margin-top: 1.5em;

    textarea {
      width: 100%;
      height: 20em;
    }
  }
}

.translator-container {
  margin: 0.5rem 0 1rem 0;

  .translate-btn {
    font-size: 0.85em;
    padding: 0.1em;
  }

  small {
    font-size: 0.9em;
    color: theme.$c-font-dim;
    margin-left: 0.25em;
  }

  .translated-text {
    color: theme.$c-font-dim;
    font-style: italic;
  }
}

.title-wrap {
  &:has(.translator-container) h1 {
    margin-bottom: 0;
  }

  h1 + .translator-container {
    margin-left: 4.3rem;
    margin-top: 0;
  }
}
