@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';

body {
  background: none;
  overflow: hidden;
}

.embedded {
  // for now
  .user-link {
    display: none;
  }

  .vstext,
  sg-board {
    box-shadow: none;
  }

  sg-board {
    border-radius: 3px 3px 0 0;
  }

  .vstext {
    @extend %metal;

    border-radius: 0 0 3px 3px;
    border: theme.$border;
    border-top: 0;
  }
}
