@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/theme';

.challenge-page {
  .challenge-id-form {
    display: flex;
    flex-wrap: wrap;

    & > input {
      width: 32ch;
      max-width: 80%;
    }
  }

  .invite {
    display: flex;
    flex-flow: row wrap;

    > div {
      @extend %box-radius;

      padding: 2em 2em 1em 2em;
      background: theme.$c-bg-zebra;
      margin: 1em;
      flex: 1 1 auto;
    }
  }

  .waiting {
    @extend %box-neat;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: theme.$c-bg-zebra;
    padding: 2rem;

    .user-link {
      font-size: 2em;
    }
  }

  .cancel {
    margin: 2em 0;
    text-align: center;
  }

  .details {
    @extend %flex-between, %box-radius;

    background: theme.$m-secondary_bg-box_mix_10;
    border: 1px solid theme.$c-secondary;
    padding: 0.5em 1.1em;
    margin-bottom: 3rem;
    font-size: 2em;
    flex-wrap: nowrap;

    @include breakpoint.breakpoint(uniboard.$mq-col1-uniboard) {
      flex-direction: column;
      gap: 1rem;
    }

    > div {
      @extend %flex-center;

      &::before {
        color: theme.$c-secondary;
        font-size: 6rem;
        margin-right: 0.2em;
      }

      div {
        line-height: 1.4;
      }

      .clock {
        font-weight: bold;
      }
    }

    .game-color {
      font-size: 1.25rem;
      justify-content: center;
    }

    .pro-mode {
      font-size: 0.6em;
    }

    .mode {
      font-weight: bold;
      color: theme.$c-secondary;
      justify-content: flex-end;
    }

    &.tour-challenge {
      background: theme.$m-brag_bg-box_mix_15;
      border: 1px solid theme.$c-brag;

      .variant::before {
        color: theme.$c-brag;
      }

      .game-tour {
        flex-direction: column;
        text-align: center;

        a {
          font-weight: bold;
        }
      }

      .mode {
        color: theme.$c-brag;
      }
    }
  }

  #challenge-redirect {
    display: block;
    width: 100%;
    text-align: center;
  }

  form:has(.ddloader) {
    text-align: center;
  }

  .follow-up .button {
    display: block;
    margin-top: 2em;
  }

  .board-preview {
    margin: 0 auto;
    max-width: 300px;
  }

  bad {
    text-align: center;
  }

  .corres-desc {
    text-align: center;
    font-style: italic;
  }
}

.challenge-theirs {
  .button-fat {
    display: block;
    width: 100%;
    margin-top: 2em;
  }
}
