@use 'pkg:breakpoint-sass' as breakpoint;
@use '../abstract/extends';
@use '../abstract/icons';
@use '../abstract/media-queries';
@use '../abstract/mixins';
@use '../abstract/variables';
@use '../abstract/z-index' as z;
@use '../theme/generated/theme';

%top-icon {
  display: block;
  height: variables.$site-header-height;
  line-height: variables.$site-header-height;
}

.site-buttons {
  @extend %flex-center-nowrap;

  .header-langs {
    display: none;

    button {
      padding: 0.3rem;
      border: none;
      border-radius: 0;
      background: none;
      -webkit-appearance: none;
    }

    @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
      display: block;
    }
  }

  .link {
    @extend %top-icon;
    /* we don't want a lighter dark font in the top gradient */
    color: theme.$c-font;

    @include mixins.has-bg-img {
      @extend %page-text;
    }

    font-size: 1.1rem;
    padding: 0 0.7rem;

    &.anon {
      padding: 0 14px;
    }

    &:hover {
      color: theme.$c-font-clearer;
    }

    span::before {
      vertical-align: middle;
    }
  }

  .toggle {
    @extend %top-icon;
  }

  .initiating {
    @extend %flex-center;

    justify-content: center;
    height: 300px;
    width: 225px;
    margin: auto;
  }

  .dropdown {
    @extend %dropdown-shadow;

    display: none;
    position: absolute;
    right: 0;
    top: var(--dropdown-top);
    background: theme.$c-bg-header-dropdown;
    z-index: z.get('dropdown');

    a,
    button {
      color: theme.$c-header-dropdown;
    }
  }

  .shown {
    .toggle {
      background: theme.$c-bg-header-dropdown;
      color: theme.$c-header-dropdown;
    }

    .dropdown {
      display: block;
    }
  }

  .signin-signup {
    margin: 0 0.5em;

    .signup {
      color: theme.$c-link-over;
      background: theme.$c-link;
      margin-right: 0.5em;
    }

    .signin {
      padding-right: 0.75em;
      padding-left: 0.75em;
      color: theme.$c-link;
      background: none;
      box-shadow: none;
      outline: 2px solid theme.$c-link;
      outline-offset: -2px;

      &:hover {
        outline-color: theme.$c-link-hover;
      }
    }

    @include mixins.has-bg-img {
      .button {
        background: theme.$c-link;
        color: theme.$c-link-over;
      }
    }
  }

  .link-center {
    height: inherit;
    line-height: inherit;
  }
}

#user_tag {
  @extend %flex-center-nowrap;

  white-space: nowrap;
  gap: 0.5rem;

  &::after {
    @extend %data-icon;

    color: theme.$c-font-dim;
    content: icons.$account-circle;
    font-size: 2rem;
  }
}

#notify-app .initiating {
  width: 25rem;
}
