@use 'pkg:breakpoint-sass' as breakpoint;
@use '../abstract/extends';
@use '../abstract/media-queries';
@use '../abstract/icons';
@use '../abstract/variables';
@use '../theme/generated/theme';

.site-title {
  @extend %base-font;

  font-size: 25px;
  line-height: #{variables.$site-header-short-height - 3};
  text-shadow: theme.$text-shadow;
  white-space: nowrap;
  margin: 0 0.5rem;
  display: none;

  .site-icon {
    display: inline-flex;
    font-size: 28px;
    margin-right: 0.15em;

    &.bot::before {
      content: icons.$cogs;
    }

    &.kiddo::before {
      content: ':)';
      font-family: monospace;
      color: theme.$c-font-dim;
    }
  }

  // .org or .dev
  span {
    color: theme.$c-font-dim;
  }

  @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
    display: block;
  }

  @include breakpoint.breakpoint(media-queries.$mq-topnav-hidden) {
    /* move away from hamburger */
    margin-left: calc(0.5rem + #{variables.$site-header-height});
  }

  @include breakpoint.breakpoint(media-queries.$mq-site-header-tall) {
    font-size: 30px;
    line-height: #{variables.$site-header-tall-height - 3};
  }

  @include breakpoint.breakpoint(
    media-queries.$mq-topnav-visible media-queries.$mq-site-header-tall
  ) {
    line-height: #{variables.$site-header-tall-height - 5};
    margin: 0 1rem;
  }

  a {
    @extend %flex-center-nowrap;

    color: theme.$c-font;
    text-decoration: none;

    &:hover {
      color: theme.$c-primary;

      span {
        color: theme.$c-primary-dim;
      }
    }
  }
}
