@use '../theme/generated/theme';
@use '../abstract/extends';
@use '../abstract/variables';

.btn-rack {
  @extend %box-radius-force;

  display: inline-flex;
  align-items: center;
  border: theme.$border;
  user-select: none;

  .btn-rack {
    /* embedded racks */
    border: none;
  }

  &__btn,
  form {
    @extend %flex-center-nowrap, %metal;

    justify-content: center;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
    border: none;
    border-right: theme.$border;
    color: theme.$c-font;

    &:hover {
      @extend %metal-hover;

      color: theme.$c-font;
    }


    &:last-child {
      border: 0;
    }

    i {
      @extend %roboto;

      letter-spacing: -1px;
    }
  }

  &__btn {
    padding: 0 0.6em;

    &.active {
      @extend %active;

      color: theme.$c-accent-over;
    }
  }
}
