@use 'pkg:breakpoint-sass' as breakpoint;
@use '../abstract/extends';
@use '../abstract/mixins';
@use '../abstract/uniboard';
@use '../abstract/variables';
@use '../theme/generated/theme';

.context-streamers {
  min-height: calc(2.2em + 1vmin);
  max-height: 20vh;
  margin-bottom: -1vmin;

  @include breakpoint.breakpoint(uniboard.$mq-col1-uniboard) {
    margin-bottom: 0;
  }
}

.context-streamer {
  @extend %nowrap-hidden, %box-radius, %box-shadow, %flex-center-nowrap;

  height: 2.2em;
  background: theme.$c-bg-box;
  color: theme.$c-brag;
  margin-top: 1vmin;

  @include mixins.transition;

  &::before {
    font-size: 1.3em;
    margin-left: 0.4em;
  }

  &:hover {
    background: theme.$c-brag;
    color: theme.$c-brag-over;
  }
}
