@use '../abstract/mixins';
@use '../abstract/extends';
@use '../theme/generated/theme';

.fbt {
  @extend %button-none;

  text-transform: uppercase;
  line-height: 1.5;

  @include mixins.transition;

  @media (hover: hover) {
    &:hover:not(.disabled):not([disabled]) {
      background: theme.$c-secondary;
      color: theme.$c-secondary-over;
    }
  }

  &.active {
    background: theme.$c-secondary !important;
    color: theme.$c-secondary-over;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  &-red {
    @media (hover: hover) {
      &:hover:not(.disabled):not([disabled]) {
        background: theme.$c-error;
        color: theme.$c-error-over;
      }
    }
  }
}
