@use '../theme/generated/theme';

@keyframes glowing {
  50% {
    background: theme.$m-link_bg-box_mix_20;
  }
}

.glowing {
  color: theme.$c-font-clear;
  animation: glowing 2s ease-in-out infinite;

  &:hover {
    animation: none;
  }
}
