@use '../abstract/extends';
@use '../abstract/mixins';
@use '../theme/generated/theme';

.icon-selector-modal {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  z-index: 100;

  .icon-selector-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: theme.$c-page-mask;
    width: 100%;
    height: 100%;
  }

  .icon-selector-grid {
    @extend %box-radius;

    position: relative;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    justify-items: center;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    background: theme.$c-bg-zebra;
    border: theme.$border;
    padding: 1rem;

    .icon-selector-img {
      width: 32px;
      height: 32px;
      margin: 0.2rem;
      cursor: pointer;
      color: theme.$c-font-dim;

      &:hover {
        color: theme.$c-font-clear;
      }

      svg {
        pointer-events: none;
      }
    }

    .spinner {
      grid-column: 3;
    }
  }
}

.icon-name {
  gap: 1rem;

  .form-group:last-child {
    flex: 1;
  }

  .icon-select {
    @extend %box-radius;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 4rem;
    height: calc(2.7em + 2px);
    background: theme.$c-bg-input;
    border: theme.$border;

    .icon {
      height: 90%;
      width: 90%;
      cursor: pointer;
    }
  }
}
