@use 'pkg:breakpoint-sass' as breakpoint;
@use '../abstract/extends';
@use '../abstract/media-queries';
@use '../theme/generated/theme';

.now-playing {
  display: grid;
  padding: 9px;
  grid-gap: 9px;

  --np-min-width: 200px;

  grid-template-columns: repeat(auto-fill, minmax(var(--np-min-width), 1fr));

  @include breakpoint.breakpoint(media-queries.$mq-not-xx-small) {
    --np-min-width: 50%;
  }

  > a {
    @extend %box-radius;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: theme.$c-font;

    &:hover {
      background-color: theme.$c-bg-zebra;
    }
  }

  .meta {
    display: block;
    text-align: center;
    overflow: hidden;
  }

  .indicator {
    color: theme.$c-accent;
    margin-top: -3px;
    display: block;
  }

  sg-board {
    box-shadow: none;
  }
}
