@use '../abstract/extends';
@use '../abstract/variables';
@use '../abstract/z-index' as z;
@use '../theme/generated/theme';

#powerTip,
#miniGame {
  @extend %box-radius-force, %popup-shadow;

  width: 20rem;
  min-height: 8em; // determines powertip positioning
  background: theme.$c-bg-popup;
  display: none;
  position: absolute;
  z-index: z.get('powertip');
}

#powerTip {
  .mini-board {
    border-width: 0 0 1px 0;
  }
}

.upt {
  &__info {
    @extend %flex-column;

    min-height: 80px;
    padding: 8px;
    border-bottom: theme.$border;
    overflow: hidden;
    justify-content: space-between;

    &__top {
      @extend %flex-between;

      .left {
        @extend %flex-center-nowrap;

        white-space: pre;
      }

      .user-link {
        @extend %ellipsis;

        display: block;

        .line {
          vertical-align: middle;
        }
      }
    }

    &__ratings {
      @extend %flex-between;

      margin-top: 3px;
      justify-content: flex-start;

      > span {
        flex: 0 0 calc(100% / 3);
        width: calc(100% / 3);
        padding: 2px 3px;
        text-align: left;

        .unknown {
          padding-left: 3px;
        }
      }
    }

    &__warning {
      @extend %flex-center;

      text-align: center;
      color: theme.$c-bad;
      flex: 1 1 auto;
    }
  }

  &__score {
    display: block;
    font-size: 1rem;
    padding: 0.2em 0.5em;
    color: theme.$c-font;
  }

  &__actions.btn-rack {
    width: 100%;
    justify-content: stretch;
    border: 0;
    border-radius: 0;

    &:not(:last-child) {
      border-bottom: theme.$border;
    }

    a {
      flex: 0 0 18%;

      &.relation-button {
        flex: 1 1 auto;
      }
    }
  }

  &__mod {
    @extend %flex-between;

    white-space: nowrap;
    padding: 0.2em 0.5em;

    &__marks {
      padding: 3px 5px;
      background: theme.$c-bad;
      color: theme.$c-bad-over;
    }
  }

  &__game-legend {
    @extend %flex-between;

    padding: 0.2em 1em;
  }
}

#miniGame {
  min-height: 262px;

  .spinner {
    margin: 82px auto 0 auto;
  }

  sg-board {
    border-radius: 0;
  }
}
