@use '../abstract/mixins';
@use '../abstract/variables';
@use '../theme/generated/theme';

.pull-quote {
  margin: 0 auto;
  max-width: 275px;

  p {
    color: theme.$c-font;
    position: relative;
    padding: 1em;
    border: theme.$border;
    border-width: 1px 0;
    font-style: italic;
    font-size: 1.1rem;

    &::after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 42px;
      width: 15px;
      height: 15px;
      background: theme.$c-bg-box;
      border-bottom: theme.$border;
      border-left: 2px solid theme.$c-border;
      transform: skew(45deg) rotate(-45deg);

      @include mixins.has-bg-img {
        display: none;
      }
    }
  }

  &.jp p {
    text-align: center;
  }

  &.long p {
    font-size: 1rem;
  }
}
