@use '../abstract/extends';
@use '../abstract/icons';
@use '../theme/generated/theme';

.user-link {
  @extend %nowrap-hidden;

  color: theme.$c-font;

  &.online .line {
    &::before {
      content: icons.$circle-full;
    }

    color: theme.$c-good;
    opacity: 0.9;

    &.patron {
      opacity: 1;
    }
  }

  .color-icon::before {
    font-size: 1.2em;
  }

  .line {
    @extend %data-icon;

    color: theme.$c-font;
    opacity: 0.5;
    display: inline-block;
    width: 1.5em;
    text-align: center;

    &.patron {
      opacity: 0.8;
    }

    &::before {
      content: icons.$circle-outline;
    }

    &.patron::before {
      content: icons.$patron !important;
    }

    &.moderator::before {
      content: icons.$agent;
    }
  }

  &[href='/@/lishogi'],
  &[data-href='/@/lishogi'] {
    .line::before {
      content: icons.$agent !important;
    }
  }

  &[data-user-title='ADMIN'] {
    .line::before {
      content: icons.$logo !important;
    }

    &.online .line {
      color: theme.$c-brag;
    }
  }
}

.mod-icon .user-link .line::before {
  content: icons.$agent !important;
}

.bot-tag,
.engine-lvl {
  font-weight: bold;
  white-space: pre;
}

.bot-tag {
  color: theme.$c-bot;
}

.engine-lvl {
  color: theme.$c-accent;
}

a.user-link:hover {
  color: theme.$c-link;
}

img.flag {
  height: 1.01em; // 0.01 seems to help keep the flags same height in tables
  margin-left: 0.37em;
  user-select: none;
  vertical-align: middle;
  transform: translateY(-0.055em);
  outline: theme.$border;
  border-radius: 3px;
  overflow: hidden;
}

body.no-flags {
  img.flag {
    display: none !important;
  }
}
