@use '../abstract/extends';
@use '../abstract/mixins';
@use '../abstract/icons';
@use '../theme/generated/theme';

.user-link {
  @extend %nowrap-hidden;

  color: theme.$c-font;

  &.online .line {
    &::before {
      content: icons.$circle-full;
    }

    color: theme.$c-good;
    opacity: 0.9;

    &.patron {
      opacity: 1;
    }
  }

  .color-icon::before {
    font-size: 1.2em;
  }

  .line {
    @extend %data-icon;

    color: theme.$c-font;
    opacity: 0.5;
    display: inline-block;
    width: 1.5em;
    text-align: center;
    vertical-align: text-top; /* not sure about that */
    &.patron {
      opacity: 0.8;
    }

    &::before {
      content: icons.$circle-outline;
    }

    &.patron::before {
      content: icons.$patron !important;
    }

    &.moderator::before {
      content: icons.$agent;
    }
  }

  img.flag {
    height: 1em;
    margin-left: 0.3em;
  }
}

.bot-tag,
.engine-lvl {
  font-weight: bold;
  color: theme.$c-bot;
}

a.user-link:hover {
  color: theme.$c-link;
}

img.flag {
  @include mixins.light-theme {
    @extend %box-shadow;
  }

  user-select: none;
  vertical-align: middle;
  transform: translateY(-0.06em);
  border: theme.$border;
}

body.no-flags {
  img.flag {
    display: none !important;
  }
}
