@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';
@use 'link';
@use 'board';
@use 'piece';
@use 'color';
@use 'local';

#dasher_app {
  @extend %box-radius-left;

  width: 225px;
  overflow: hidden;
  border-radius: variables.$box-radius-size 0 variables.$box-radius-size variables.$box-radius-size;

  .spinner {
    margin: 20px auto;
  }

  .status {
    display: block;
    position: relative;
    padding: 0.8rem;
    border-top: theme.$border;

    signal {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 1.7rem;
    }

    .ping,
    .server {
      @extend %roboto;

      display: block;
    }

    strong {
      padding: 0 5px;
    }
  }

  .head {
    display: block;
    padding: 1rem;
    border-bottom: theme.$border;
  }

  .head::before {
    color: theme.$c-secondary;
    opacity: 0.8;
  }

  .head:hover::before {
    opacity: 1;
  }

  .langs {
    form {
      max-height: 400px;
      overflow: auto;
    }

    button {
      display: block;
      padding: 0.7rem 0.7rem 0.7rem 1rem;
      border: none;
      background: none;
      width: 100%;
      text-align: left;

      &:hover {
        background: local.$c-dasher-light;
      }
    }

    .accepted {
      border-left: 4px solid theme.$c-secondary;
    }

    .current {
      background: theme.$c-secondary !important;
      color: theme.$c-secondary-over !important;
      border-left: none;
    }

    .help {
      color: theme.$c-link;
      display: block;
      padding: 0.7rem 0.7rem 0.7rem 1rem;

      &:hover {
        background: theme.$c-link;
        color: theme.$c-link-over;
      }
    }
  }

  .selector {
    flex: 1 1 100%;

    a {
      display: block;
      position: relative;
      padding: 0.7rem 1rem;

      @include mixins.transition(background);

      &.active {
        background: theme.$c-secondary !important;
        color: theme.$c-secondary-over !important;
      }

      &.half {
        width: 50%;
        display: inline-block;
      }

      .credit-link {
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        top: 0;
        height: 100%;
        padding: 0 0.5rem;
        opacity: 0;
      }

      &:hover {
        background: local.$c-dasher-light;

        .credit-link {
          opacity: 0.5;

          &:hover {
            background: none;
            opacity: 1;
          }
        }
      }
    }

    &.large a {
      padding: 1rem;
    }
  }

  .categ-tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: theme.$border;

    div {
      flex: 1;
      padding: 0.5rem 0;
      text-align: center;
      font-size: 0.9rem;
      border-right: theme.$border;
      transition: color 100ms;

      &:last-child {
        border-right: none;
      }

      &:hover {
        background: local.$c-dasher-light;
      }

      &.active {
        background: theme.$c-secondary;
        color: theme.$c-secondary-over;
        font-weight: bold;
      }
    }
  }

  .zen {
    a::before {
      opacity: 0.5;
    }

    &:hover a::before {
      opacity: 1;
    }
  }

  .sound {
    .slider {
      display: flex;
      border-top: theme.$border;

      input {
        width: 100%;
        font-size: 1.25rem;
      }
    }

    &.silent .slider {
      opacity: 0.2;
    }
  }

  .background .image {
    background: theme.$c-bg-zebra;
    border-top: theme.$border;
    padding: 0.5rem;
  }

  .board .zoom {
    display: none;
    border-top: theme.$border;
    padding: 1.5rem;

    @include breakpoint.breakpoint(uniboard.$mq-board-resizable) {
      display: block;
    }
  }

  .board .slider {
    margin-top: 1rem;
  }

  .custom-theme {
    .board,
    .grid,
    .hands {
      margin-top: 0.5rem;
    }

    .board,
    .grid {
      border-bottom: theme.$border;
      padding-bottom: 1rem;
    }

    .title {
      padding: 3px;
      text-align: center;
    }

    &.loading {
      height: 400px;

      body.hands-background & {
        height: 550px;
      }

      .spinner {
        display: flex;
        justify-content: center;
      }
    }

    body:not(.hands-background) & .hands {
      display: none;
    }
  }

  .url-wrap,
  .select-wrap {
    margin: 6px;

    p {
      margin: 6px 0 3px;
    }
  }

  .select-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 12px);

    & > * {
      flex-grow: 1;
    }
  }

  .url-wrap input {
    width: 100%;
  }
}

@keyframes flash-glow {
  0% {
    background: theme.$c-bg-input;
    outline: 2px solid theme.$c-bad;
  }

  50% {
    background: theme.$c-bad;
    outline: 2px solid theme.$c-font-clearer;
  }

  100% {
    background: theme.$c-bg-input;
    outline: 2px solid theme.$c-bad;
  }
}

@keyframes bounce {
  0% {
    top: -20px;
  }

  50% {
    top: -15px;
  }

  100% {
    top: -20px;
  }
}

@keyframes delayed-show {
  to {
    opacity: 1;
  }
}
