@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';

#dasher_app {
  .piece {
    .list {
      @extend %flex-wrap;

      background-size: cover;
      background-position: center;
      padding-bottom: 1rem;

      .no-square {
        width: 56.25px;
        height: calc(56.25px / 11 * 12);
        position: relative;

        &:hover {
          background: theme.$c-selected-hover;
        }

        &.active {
          background: theme.$c-selected;
        }

        piece {
          width: 200%;
          height: 200%;
          margin: calc(-50% / 11 * 12) -50%;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
