@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/functions';
@use 'pkg:common/theme';

.ceval {
  @extend %box-radius-top;

  background: theme.$c-bg-zebra;
  position: relative;
  display: flex;
  align-items: stretch;
  column-gap: 6px;
  overflow: hidden;
  padding: 2px 0;

  &.enabled {
    .show-threat {
      opacity: 1;
      pointer-events: all;
    }
  }

  .switch {
    @extend %flex-center;

    flex: 0 0 40px;
    margin-left: 6px;

    &.disabled {
      cursor: not-allowed;

      label {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  pearl {
    flex: 1 0 auto;
    line-height: 38px;
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
  }

  help,
  .engine {
    @extend %nowrap-hidden;

    flex: 0 1 40%;
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
    margin-left: 3px;
    color: theme.$c-font-dim;
  }

  .engine {
    .cloud {
      @extend %roboto, %box-radius;

      margin-left: 4px;
      background: theme.$c-secondary-dim;
      color: theme.$c-secondary-over;
      padding: 1px 3px;
      text-transform: uppercase;
      font-size: 11px;
    }

    .info {
      display: block;
      white-space: nowrap;
    }

    .deeper {
      color: theme.$c-primary;
      margin-right: 4px;
    }

    .deeper::before {
      vertical-align: -2px;
    }
  }

  .technology {
    margin-left: 5px;

    &.bad {
      &:not(.chushogi):not(.annanshogi):not(.checkshogi) {
        color: theme.$c-bad;
      }

      margin-left: 0;
    }

    &.good {
      color: theme.$c-good;
    }
  }

  .bar {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
  }

  @keyframes bar-anim {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100000px 0;
    }
  }

  .bar span {
    display: block;
    height: 3px;
    width: 0;
    background: theme.$c-good;
    transition: width 1s;

    &.threat {
      background: theme.$c-bad;
    }
  }

  &.computing .bar span {
    background-image: functions.img-url('loader/bar-highlight.png');
    animation: bar-anim 1000s linear infinite;
  }

  .show-threat {
    @extend %button-none;

    flex: 0 0 18px;
    color: theme.$c-font-dim;
    font-size: 14px;
    margin-right: 6px;
    overflow: hidden;
    opacity: 0.3;
    pointer-events: none;

    &:hover,
    &.active {
      color: theme.$c-red;
    }

    &.hidden {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
