@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';

.eval-gauge {
  @extend %box-shadow;

  width: variables.$block-gap;
  position: relative;
  background: theme.$c-sente;
  overflow: hidden;
  border-radius: variables.$box-radius-size - 2px;

  @include breakpoint.breakpoint(uniboard.$mq-col1-uniboard) {
    display: none;
  }

  &.reverse {
    transform: rotateX(180deg);
  }

  tick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px ridge theme.$c-gote;
    opacity: 0.4;
  }

  tick.zero {
    border-bottom: 3px solid theme.$c-accent;
    opacity: 1;
  }

  .gote {
    width: 100%;
    height: 50%;
    background: theme.$c-gote;
    transition: height 1s;
  }
}
