@use '../abstract/extends';
@use '../theme/generated/theme';

.data-count {
  position: relative;
}

.data-count::after,
.unread {
  @extend %box-radius;

  background: theme.$c-accent;
  color: theme.$c-accent-over;
  padding: 1px 5px 1px 4px;
  font-weight: bold;
  font-size: 13px;
}

.data-count::after {
  content: attr(data-count);
  top: -5px;
  right: 0;
  position: absolute;
  height: 15px;
  line-height: 13px;
}

.data-count[data-count='0']::after {
  display: none;
}
