@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

#modal-wrap.actor-info-modal {
  width: 26em;
  padding: 0;

  @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
    width: 30em;
  }

  .tour__actor-info {
    position: relative;

    .spinner {
      margin: 1em auto;
    }

    .stats {
      @extend %flex-column;

      justify-content: center;

      h2 {
        @extend %metal;

        font-size: 1.4em;
        padding: 0.6rem 1rem;
        border-bottom: theme.$border;
      }

      table {
        margin: 1rem auto;

        th {
          text-align: left;
          padding-right: 1rem;
        }

        td {
          font-weight: bold;
          padding-left: 10px;
          text-align: right;
          line-height: 1.8em;
        }
      }
    }

    .sublist {
      width: 100%;

      tr {
        cursor: pointer;
        border-top: theme.$border;

        th,
        td {
          padding: 0.75em 0.3em;

          &.name {
            @extend %nowrap-ellipsis;
          }

          &.bold {
            font-weight: bold;
          }

          &.score {
            font-weight: bold;
          }
        }

        th {
          @extend %roboto;

          padding-left: 7px;
        }

        &.win td.score {
          color: theme.$c-good;
        }

        &.loss td.score {
          color: theme.$c-bad;
        }

        &:hover {
          background: theme.$m-link_bg-box_mix_10;
        }
      }
    }
  }
}
