@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/theme';

.tour__controls {
  @extend %metal, %flex-between, %box-shadow;

  align-items: unset;
  padding: 0 0;
  position: relative;
  min-height: 3rem;

  .fbt {
    height: 100%;
    padding: 0.6em 0.8em;
    text-transform: uppercase;

    @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
      padding: 0.6em 1em;
    }
  }

  .pager {
    @extend %flex-center;

    flex: 1 1;
    user-select: none;
    justify-content: space-between;

    @include breakpoint.breakpoint(media-queries.$mq-x-small) {
      flex: unset;
    }

    .page {
      margin: 0 3px;
      white-space: nowrap;
    }

    input {
      border: none;
      background: theme.$m-secondary_alpha_neg80;
    }

    .search,
    input,
    .twitter-typeahead {
      height: 100%;
    }
  }

  .search .tt-menu .spinner {
    float: none;
    margin: 10px auto;
  }

  &.back {
    .switch {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;

      .label {
        padding: 0 0.5rem;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: calc(100% / 3);

    &:empty {
      width: unset;
    }

    button > span {
      display: none;
    }

    @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
      width: unset;

      button > span {
        display: block;
        margin-left: 0.5em;
      }
    }

    .fbt {
      display: flex;
      align-items: center;

      &.withdraw {
        &:hover {
          background-color: theme.$c-bad;
          color: theme.$c-bad-over;
        }
      }

      &.denied {
        pointer-events: none;
        background-color: theme.$c-bad;
        color: theme.$c-bad-over;
      }

      &.highlight {
        $highlight-shadow: theme.$m-secondary_black_mix_60;

        position: absolute;
        right: 5px;
        top: -3px;
        padding: 5px 15px;
        border-radius: 8px;
        text-decoration: none;
        background: theme.$c-secondary;
        color: theme.$c-secondary-over;
        border-bottom: 5px solid $highlight-shadow;
        transition: all 0.1s;
        will-change: transform;
        filter: brightness(1.1);

        &::before {
          display: none;
        }

        @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
          padding: 8px 20px;
          white-space: nowrap;

          &::before {
            display: block;
          }
        }

        &:hover {
          filter: brightness(1);
        }

        &:active {
          transform: translate(0, 3px);
          border-bottom-width: 2px;
          text-shadow: 0 0 $highlight-shadow;
        }
      }
    }

    .delay-wrap {
      height: 100%;

      .delay {
        height: 100%;
        background: theme.$m-secondary_bg-box_mix_30;
        width: 0%;

        button {
          opacity: 0.7;
          color: theme.$c-font-dim;
          mix-blend-mode: luminosity;
          white-space: nowrap;
        }
      }
    }

    .waiting {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: theme.$m-primary_alpha_neg80;
      font-size: 0.8em;

      @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
        width: unset;
      }

      @include breakpoint.breakpoint(uniboard.$mq-col3-uniboard) {
        font-size: 0.9em;
      }

      span {
        text-align: center;
        margin-right: 0.5rem;
        padding-left: 1rem;
      }
    }

    .ddloader {
      margin: auto;

      @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
        margin-right: 1rem;
      }
    }
  }

  @keyframes tour-delay {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }
}
