@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';
@use './local';

.tour__main__header {
  @extend %flex-center-nowrap;

  position: relative;
  min-height: 7em;
  padding: 0 #{variables.$block-gap * 1.5};

  h1 {
    font-size: 2rem;
    flex: 9 1 auto;
    margin: 0;
    overflow: hidden;

    @include breakpoint.breakpoint(media-queries.$mq-x-small) {
      font-size: 2.2rem;
    }

    a {
      /* GM wikipedia */
      color: theme.$m-link_font_mix_35;

      &:hover {
        color: theme.$c-link;
      }
    }
  }

  img {
    flex: 0 0 60px;
    display: block;
    width: 60px;
    height: 60px;
    padding: 6px;
  }

  .img {
    margin-right: 1rem;
  }

  i::before {
    font-size: 2.2rem;
  }

  .tour-shed & h1 {
    letter-spacing: 2px;
  }

  .tour-shed-weekly & i::before {
    font-size: 35px;
  }

  .tour-shed-monthly & i::before,
  .tour-shed-weekend & i::before {
    font-size: 40px;
  }

  .tour-shed-yearly & i::before {
    font-size: 45px;
  }

  .tour-shed-weekend & h1,
  .tour-shed-yearly & h1 {
    letter-spacing: 3px;
  }

  .clock {
    flex: 0 0 auto;
    font-weight: bold;
    color: theme.$c-font-dim;
    margin-left: 1rem;
    max-width: 25vw;

    &-title {
      @extend %flex-column;
      // text-align: right; // todo ??
    }
  }

  .tour-sched-monthly & h1 {
    color: local.$c-monthly;
  }

  .tour-sched-yearly & h1 {
    color: local.$c-yearly;
    font-weight: bold;
  }

  .tour-sched-shield & h1 {
    color: local.$c-shield;
    padding-left: 90px;
    letter-spacing: 2px;

    .shield-trophy {
      position: absolute;
      top: -8px;
      left: 12px;
      display: block;
      width: 67px;
      height: 80px;
      background: url('../images/trophy/shield-gold.png') no-repeat;
      background-size: contain;
      font-family: lishogi;
      font-size: 40px;
      line-height: 75px;
      text-align: center;
      color: #333 !important;
      text-shadow: 0 0 6px #fff;
    }
  }

  .tour__main-finished & h1 {
    text-align: center;
  }

  .time {
    @extend %roboto;

    font-size: 1.5em;
    margin-left: 0.2em;
  }

  .shy {
    line-height: 20px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.6;
    white-space: nowrap;
  }
}
