@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/theme';

#modal-wrap.arrangement__modal {
  width: 26em;
  padding: 0;

  @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
    width: 30em;
  }

  .arr-modal {
    .arr-header {
      @extend %box-radius-top;

      position: relative;
      background: theme.$c-bg-zebra;
      border-bottom: theme.$border;
      padding: 1rem;

      .edit-icon,
      .annul-icon {
        position: absolute;
        top: 0.35rem;
        left: 0;
        font-size: 16px;
        line-height: 28px;
        width: 32px;
        height: 32px;
      }

      .annul-icon {
        color: theme.$c-red;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }

    .arr-users {
      display: flex;
      flex-direction: column;

      .arr-user {
        width: 100%;
        padding: 1rem 1rem;

        &-bottom {
          border-top: theme.$border;
          border-bottom: theme.$border;
        }

        .arr-name {
          display: flex;
          font-size: 2rem;
          padding-bottom: 0.5rem;

          .user-link {
            .rating {
              font-size: 1.25rem;
              color: theme.$c-font-dimmer;
            }

            &.long {
              .name {
                font-size: 1.4rem;
              }

              .rating {
                font-size: 1rem;
              }
            }
          }

          .points {
            margin-left: auto;
            margin-right: 0.5rem;
            font-weight: bold;

            &.winner {
              color: theme.$c-good;
            }

            &.loser {
              color: theme.$c-bad;
            }
          }

          .color-icon {
            margin-left: auto;
          }

          .action-wrap {
            font-size: 1rem;
            margin-left: auto;
          }
        }

        .suggested-time-wrap {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          position: relative;

          input {
            width: 100%;
            color: theme.$c-font-clear;
            opacity: 1;

            &.disabled {
              cursor: not-allowed;

              &:hover ~ button:not(:disabled) {
                background-color: theme.$c-secondary;
                color: theme.$c-secondary-over;
              }
            }
          }

          .fbt {
            @extend %box-radius;

            padding: 0 1rem;
            height: 100%;
            position: absolute;
            right: 0;
          }

          .flatpickr-input-wrap {
            width: 100%;
          }

          .calendar-button-wrap {
            width: 100%;
            display: flex;
            gap: 0.5rem;
            margin-top: 0.5rem;

            button {
              &.button-green {
                flex: 4;
              }

              &.button-red {
                flex: 1;
              }
            }
          }

          &.hide-calendar {
            .flatpickr-calendar,
            .calendar-button-wrap {
              display: none;
            }
          }
        }

        .actions {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          input {
            flex-basis: 100%;
          }

          button {
            flex: 1;
          }
        }
      }
    }

    .total-section {
      display: flex;
      flex-direction: column;

      .values {
        padding: 0.5rem 1rem;
        text-align: left;
        margin: 0.5rem 0;

        i {
          float: right;
        }
      }

      .fbt {
        width: 100%;
        padding: 1.75rem 0;
        border-top: theme.$border;
        border-bottom: theme.$border;
        margin-bottom: 0.5rem;
        background-color: theme.$c-bg-zebra;
        font-size: 1.1rem;
        color: theme.$c-font-clearer;

        &.go-to-game {
          @extend %box-radius-bottom;

          border-bottom: none;
          margin-bottom: 0;
        }

        &:not(.disabled):hover {
          background: theme.$c-primary;
          color: theme.$c-primary-over;
        }
      }

      .arr-start-wrap {
        padding-bottom: 1rem;

        .fbt {
          &:hover {
            background-color: theme.$c-accent;
            color: theme.$c-accent-over;
          }

          &.disabled {
            pointer-events: none;
          }

          &.ready {
            background-color: theme.$c-primary;
            color: theme.$c-primary-over;

            &:not(.disabled):hover {
              background-color: theme.$c-primary-clear;
            }
          }
        }

        .help {
          font-size: 0.9rem;
          font-style: italic;
        }
      }

      .edit-button {
        margin: 0 1rem 1rem 1rem;
      }
    }

    .title-value-wrap {
      display: flex;
      align-items: center;

      @include breakpoint.breakpoint(media-queries.$mq-x-small) {
        margin-left: 1rem;
      }

      .title {
        font-weight: bold;
        color: theme.$c-font-dim;
      }

      .value {
        margin: 0 0.5rem;
        color: theme.$c-font-clear;

        &:has(.annulled-games) {
          flex: 0 1 60%;
        }

        .annulled-games {
          display: flex;
          flex-wrap: wrap;
          column-gap: 0.25em;
          font-size: 0.9em;
        }
      }

      .right {
        margin-left: auto;
      }
    }
  }
}
