@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';

#modal-wrap.arrangement__modal {
  width: 30em;
  padding: 0;

  .values {
    text-align: left;
    margin: 0.5rem 0;

    .title {
      font-weight: bold;
      color: theme.$c-font-dim;
    }

    .value {
      margin: 0 0.5rem;
      color: theme.$c-font-clear;
    }
  }

  .arr-modal {
    .arr-header {
      background: theme.$c-bg-zebra;
      border-bottom: theme.$border;
      padding: 1rem;
    }

    .arr-users {
      display: flex;
      flex-direction: column;

      .arr-user {
        width: 100%;
        padding: 1rem 2rem;

        &-bottom {
          background: theme.$c-bg-zebra;
          border-top: theme.$border;
          border-bottom: theme.$border;
        }

        .arr-name {
          display: flex;
          font-size: 2rem;
          padding-bottom: 0.5rem;

          .user-link {
            .rating {
              font-size: 1.25rem;
              color: theme.$c-font-dimmer;
            }
          }

          .message {
            margin-left: auto;
            font-size: 1rem;
            color: theme.$c-font;
            align-self: center;

            &:hover {
              color: theme.$c-link;
            }
          }

          .points {
            margin-left: auto;
            font-weight: bold;

            &.winner {
              color: theme.$c-good;
            }

            &.loser {
              color: theme.$c-bad;
            }
          }
        }

        .actions {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          input {
            flex-basis: 100%;
          }

          button {
            flex: 1;
          }
        }

        .my-actions {
          button.pressed {
            @extend %active-inset-shadow;

            background-color: theme.$c-primary-dim;
            text-shadow: none;
          }

          .arr-calendar {
            flex: 1;

            &-wrap {
              min-height: 300px;
            }

            &-buttons {
              display: flex;
              gap: 0.5rem;
            }

            input.flatpickr.form-control {
              display: none;
            }

            .flatpickr-calendar {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }

    .total-section {
      display: flex;
      flex-direction: column;

      .values {
        padding: 0.5rem 2rem;
      }

      .fbt {
        width: 100%;
        padding: 1.5rem 0;
        border-top: theme.$border;
        border-bottom: theme.$border;
        margin-bottom: 0.5rem;
        background-color: theme.$c-bg-zebra;
        font-size: 1.1rem;
        color: theme.$c-font-clearer;

        &.go-to-game {
          @extend %box-radius-bottom;

          border-bottom: none;
          margin-bottom: 0;
        }

        &:not(.disabled):hover {
          background: theme.$c-primary;
          color: theme.$c-primary-over;
        }
      }

      .arr-start-wrap {
        padding-bottom: 1rem;

        .help {
          font-size: 0.9rem;
          font-style: italic;
        }
      }

      .edit-button {
        margin: 0 1rem 1rem 1rem;
      }
    }
  }
}

.arrs-list-wrap {
  background: theme.$c-bg-zebra;
  border-top: theme.$border;
  border-bottom: theme.$border;
  margin-top: 2rem;

  .arrs-title {
    padding: 2rem;
  }

  .arrs-list {
    .arr-line {
      display: flex;
      padding: 1rem 2rem;
      justify-content: space-between;
      border-bottom: theme.$border;
      cursor: pointer;

      .arr-name {
        font-weight: bold;
        margin-right: 1rem;
      }

      &:nth-child(odd) {
        background: theme.$c-bg-zebra;
      }

      &:first-child {
        border-top: theme.$border;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: theme.$c-accent;
        color: theme.$c-accent-over;
      }
    }
  }

  .arrs-more {
    padding: 1rem;
    width: 100%;
    display: block;
    text-align: center;
    border-top: theme.$border;
  }

  .notours {
    padding: 0 2rem 2rem 2rem;
  }
}
