@use 'pkg:common/theme';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/icons';
@use './local';

.tour-icon {
  position: relative;
  margin: auto;
  text-align: center;
  color: theme.$c-font-dim;

  &.ti-hourly {
    color: local.$c-hourly;
  }

  &.ti-daily,
  &.ti-eastern {
    color: local.$c-daily;
  }

  &.ti-weekly,
  &.ti-weekend {
    color: local.$c-weekly;
  }

  &.ti-monthly {
    color: local.$c-monthly;
  }

  &.ti-yearly,
  &.ti-unique {
    color: local.$c-yearly;
  }

  &.ti-shield {
    position: relative;
    color: theme.$c-brag;
    opacity: 0.8;
  }

  svg.extra-icon {
    width: 100%;
    height: 100%;
  }
}
