@use 'pkg:common/theme';

.player-manage {
  .actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 0 0.5rem;
    }
  }

  .candidates,
  .denied {
    h3.title {
      font-size: 1.2rem;
      padding: 0.75rem;
      text-align: center;
      background: theme.$c-bg-zebra;
    }

    .table-wrap {
      max-height: 32vh;
      min-height: 60px;
      overflow: auto;

      tr.shaded {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .denied .table-wrap {
    border-bottom: theme.$border;
  }

  .other-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    input {
      margin-right: 1rem;
    }

    .ban {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem 0;
      border-right: theme.$border;
    }

    .joining {
      padding: 1.5rem;
    }
  }
}
