@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/form/cmn-toggle';
@use 'pkg:common/theme';
@use 'local';

main.robin {
  .r-table-wrap {
    $cell-size: 2.2rem;
    $mobile-cell-size: 3.2rem;
    $large-cell-size: 3rem;

    display: flex;
    position: relative;

    &.empty > * {
      opacity: 0;

      &.no-players {
        opacity: 1;
        position: absolute;
        width: 100%;
        margin: 1rem 0;
        text-align: center;
      }
    }

    table {
      background: theme.$c-bg-box;

      tr {
        &.kicked {
          background-color: rgba(theme.$c-bad, 0.2) !important;
          color: theme.$c-font-dimmer !important;

          .user-link {
            color: theme.$c-font-dimmer !important;
          }
        }
      }

      td,
      th {
        min-width: $cell-size;
        height: $cell-size;
        border: 1px solid theme.$c-font-dimmer;
        text-align: center;

        @include breakpoint.breakpoint(local.$mq-mobile) {
          min-width: $mobile-cell-size;
          height: $mobile-cell-size;
        }

        &.me {
          background-color: theme.$m-secondary_alpha_neg85;
        }

        &.hovered {
          background-color: theme.$m-primary_alpha_neg75;
        }
      }

      th {
        background-color: theme.$c-bg-zebra;
        background-clip: padding-box; // firefox...
      }
    }

    &-players {
      table tr {
        &.long {
          span.name {
            font-size: 0.85rem;
          }
        }

        td {
          &.player-name {
            min-width: 12rem;
            padding: 0 1rem;
            text-align: left;

            i {
              margin-right: 0.5rem;
            }

            .rating {
              font-style: italic;
              font-size: 0.9em;
              opacity: 0.9;
              color: theme.$c-font-dim;
            }

            .user-link:hover {
              color: theme.$c-link-over;
            }
          }
        }
      }
    }

    &-arrs {
      overflow-x: scroll;

      table {
        table-layout: fixed;
        overflow: hidden;

        thead {
          tr th {
            max-width: $cell-size;

            &:first-child {
              border-left: none;
            }

            &:last-child {
              border-right: none;
            }
          }
        }

        tbody {
          tr {
            td {
              position: relative;
              width: $cell-size;
              cursor: pointer;

              &.same {
                cursor: unset;
                position: relative;

                &::before,
                &::after {
                  content: '';
                  position: absolute;
                  background-color: theme.$c-font-dimmer;
                  transform-origin: center;
                  opacity: 0.6;
                }

                &::before {
                  top: 0;
                  left: 50%;
                  width: 2px;
                  height: 100%;
                  transform: translateX(-50%) rotate(45deg);
                }

                &::after {
                  top: 50%;
                  left: 0;
                  width: 100%;
                  height: 2px;
                  transform: translateY(-50%) rotate(45deg);
                }
              }

              & > div {
                z-index: 100;
                margin: auto;
                pointer-events: none;
              }

              & .p {
                width: 100%;
                height: 100%;

                &::after {
                  content: '...';
                  display: block;
                  height: 100%;
                  color: theme.$c-font-dimmer;
                  font-size: 1rem;
                  line-height: 1.6rem;
                  letter-spacing: 2px;
                  margin-left: 1px;
                }
              }

              & .d {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 10px solid theme.$c-font;
              }

              & .w,
              & .l {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: theme.$c-font;
              }

              & .w {
                background-color: theme.$m-good_font_mix_80;
              }

              & .l {
                background-color: theme.$m-bad_font_mix_80;
              }

              & .ready {
                width: 100%;
                height: 100%;
                background: theme.$c-primary !important;
              }

              &:first-child {
                border-left: none;
              }

              &:last-child {
                border-right: none;
              }
            }
          }
        }
      }
    }

    &-scores {
      table {
        td {
          min-width: $large-cell-size;

          &.winner {
            color: theme.$c-brag;
            font-weight: bold;
            text-shadow: theme.$text-shadow;
          }
        }
      }
    }
  }

  .tabs-horiz {
    margin-top: 2rem;
  }
}
