@use 'pkg:breakpoint-sass' as breakpoint;
@use 'layout';
@use 'slist';
@use 'side';
@use 'featured';
@use 'app-header';
@use 'app-notice';
@use 'app-control';
@use 'app-standing';
@use 'podium';
@use 'stats';
@use 'duel';
@use 'actor-info';
@use 'team-info';
@use 'icons';
@use 'arrangement';
@use 'robin';
@use 'organized';
@use 'tabs';
@use 'player-manage';
@use 'local';

.tour {
  .pull-quote {
    margin-top: 30px;
  }

  .box.created {
    padding-bottom: 2em; /* as quote margin */
  }
}

.tour__bottom {
  padding: 2rem;
  margin-top: 2rem;

  h3 {
    font-size: 1.5rem;
  }

  .tour__desc {
    margin-bottom: 3.5rem;

    p {
      margin-top: 1.5rem;
    }
  }

  .tour__faq {
    h3 {
      margin: 1.5rem 0 0.5rem 0;
    }
  }
}
