@use 'pkg:common/theme';

.slist {
  &-wrap {
    overflow-x: scroll;
  }

  &-clean {
    tr {
      border-bottom: theme.$border;
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &.me {
        background-color: theme.$m-secondary_alpha_neg85;
      }

      &.disabled {
        cursor: default;
      }

      &:hover {
        background: theme.$m-primary_bg-box_mix_30;
      }
    }

    td,
    th {
      &.bold {
        font-weight: bold;
      }

      &.small {
        white-space: nowrap;
        width: 1%;
      }

      &.fade {
        font-size: 0.75rem;
        color: theme.$c-font-dim;
      }

      &.vs-names {
        font-weight: normal;
        font-size: 0.9rem;

        span {
          font-style: normal;
          font-size: 1rem;

          &:first-child {
            margin-right: 0.15rem;
          }

          &:last-child {
            margin-left: 0.15rem;
          }
        }

        &.bold span {
          font-weight: bold;
        }
      }

      &.center {
        text-align: center;
      }

      &.right {
        text-align: right;

        .buttons {
          display: flex;
          justify-content: flex-end;
          gap: 0.25rem;
        }
      }

      &.no-pad {
        padding: 0;
      }

      span.title {
        color: theme.$c-brag;
        font-weight: bold;
      }
    }
  }
}
