@use 'pkg:common/theme';

.user-show__header {
  background: theme.$c-bg-zebra;
  padding: 2em 1.5em 1em 1.5em;
  flex-flow: row nowrap;

  h1 {
    flex: 0 0 auto;
    position: relative;
    font-size: 2em;
    margin-top: 0;

    .patron-link {
      position: absolute;
      width: 3rem;
      height: 3rem;
    }
  }

  .connected {
    color: theme.$c-good;
  }

  .closed {
    color: theme.$c-bad;
    font-weight: bold;
    margin-right: 1em;
  }

  .line {
    vertical-align: top;
  }
}
