@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';
@use 'rating-history';

#us_profile {
  @extend %flex-wrap;

  border-top: theme.$border;
  background-color: theme.$c-border;
  gap: 1px;

  .warning {
    @extend %box-radius, %flex-center-nowrap;

    padding: 0.7em;
    background: theme.$m-bad_bg-box_mix_10;
    border: 1px solid theme.$m-bad_bg-box_mix_30;
    color: theme.$c-bad;

    span {
      margin-right: 0.2em;
      font-size: 2.7em;
    }
  }

  .tos_warning {
    margin: 10px 0;
  }

  .rating-history-container {
    background: theme.$c-bg-box;

    &-stub {
      background: theme.$c-bg-box;

      a,
      p {
        @extend %flex-center;

        width: 100%;
        height: 100%;
        justify-content: center;
      }

      p {
        margin: 0;
        font-style: italic;
      }
    }
  }

  .profile-side {
    @extend %flex-column;

    flex: 1 0 350px;
    max-height: 350px;
    background: theme.$c-bg-box;
    overflow: hidden;

    .user-infos {
      @include mixins.hoverflow;
      @extend %flex-column;

      flex: 1 1 auto;
      padding: 0.8em;
      overflow: auto;

      .ps-personal {
        *::before {
          color: theme.$c-font-dimmer;
        }

        .name {
          &::before {
            vertical-align: text-top;
          }
        }

        .location {
          margin-left: 1em;
        }

        .country {
          margin-left: 0.4em;

          img.flag {
            height: 1.3em;
            margin: 0;
          }
        }
      }

      .profile-times {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1em;

        p {
          margin-right: 1em;
          margin-bottom: 0;
        }
      }

      .bio {
        @extend %break-word;

        margin-bottom: auto;

        img {
          max-width: 100%;
          max-height: 260px;
        }
      }

      .social_links {
        margin-top: 0.5rem;
      }

      .social_links,
      .teams {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 0.5rem;

        .title {
          font-weight: bold;
          flex-basis: 100%;
        }

        > a {
          @extend %nowrap-ellipsis;

          flex: 0 0 33%;
        }
      }
    }
  }
}

.stats {
  display: flex;
  border-top: theme.$border;

  .stats_badge {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;

    time {
      display: block;
      margin-top: 0.1rem;
    }
  }

  .insights {
    @extend %flex-center-nowrap;

    padding: 0.5em 3em;
    color: theme.$c-link;
    border-left: theme.$border;
    text-align: center;

    strong {
      display: block;
      font-weight: normal;
      font-size: 1.5em;
    }

    em {
      display: block;
    }

    &::before {
      font-size: 2.5em;
      margin-right: 1rem;
    }

    &:hover,
    &:hover::before {
      @include mixins.transition;

      background: theme.$c-primary;
      color: theme.$c-primary-over;
    }
  }
}
