@use 'pkg:common/theme';

.rating-history-container {
  &,
  &-stub {
    flex: 1 1 58%;
    min-height: 50px;
  }

  height: 350px;

  .chart-container {
    height: 90%;
  }

  .spinner {
    width: 90px;
    height: 90px;
    margin: 120px auto 0 auto;
  }

  .time-selector-buttons {
    margin-top: 0.5rem;
    margin-left: 0.5rem;

    button {
      display: inline-flex;
      text-transform: uppercase;
    }
  }
}
