@use 'sass:color';
@use 'util' as *;
@use '../abstract/icons';

$c-bg-page: #141617; // hsl($c-site-hue, 10%, 6%);
$c-bg-high: #1d2021;
$c-bg-low: #2d2d2d;

$c-bg-zebra: color.adjust($c-bg-high, $lightness: 3%, $saturation: -2%);
$c-bg-zebra2: color.adjust($c-bg-high, $lightness: 5%, $saturation: -3%);

$c-body-gradient: color.adjust($c-bg-page, $lightness: 6%, $saturation: 2%);

$c-font: hsl(37deg, 35%, 73%);
$c-font-dim: hsl(37deg, 15%, 55%);
$c-font-dimmer: hsl(37deg, 10%, 42%);
$c-font-clear: color.adjust($c-font, $lightness: 7%, $space: oklch);
$c-font-clearer: color.adjust($c-font, $lightness: 15%, $space: oklch);
$c-shade: color.change($c-font, $lightness: 50%, $space: oklch);
$c-shade: color.mix($c-bg-high, $c-font-dim, 60%);
$c-font-page: $c-font-dim;

$c-primary: #80aa9e;
$c-primary-dim: c-blacker($c-primary, 15%);
$c-primary-clear: c-whiter($c-primary, 20%);
$c-primary-over: #000;

$c-secondary: #b0b846;
$c-secondary-dim: c-blacker($c-secondary, 20%);
$c-secondary-dimmer: c-blacker($c-secondary, 40%);
$c-secondary-clear: c-whiter($c-secondary, 23%);
$c-secondary-over: #000;

$c-accent: hsl(26deg, 80%, 38%);
$c-accent-dim: c-blacker($c-accent, 20%);
$c-accent-clear: c-whiter($c-accent, 20%);
$c-accent-over: #fff;

$c-brag: #e9b143;
$c-brag-over: #000;

$c-red: #db4740;
$c-error: $c-red;
$c-error-over: #000;

$c-good: #b0b846;
$c-good-over: #000;

$c-warn: $c-brag;
$c-warn-over: $c-brag-over;

$c-bad: $c-error;
$c-bad-over: $c-error-over;

$c-fancy: hsl(294deg, 62%, 48%);
$c-fancy-over: white;

$c-selected: rgba(20, 85, 30, 0.5);
$c-selected-hover: rgba(20, 85, 30, 0.25);

$c-premoved: rgba(20, 30, 85, 0.5);
$c-premoved-hover: rgba(20, 30, 85, 0.25);

$c-last-dest: rgba(169, 199, 0, 0.41);

$c-inaccuracy: hsl(202deg, 78%, 62%);
$c-inaccuracy-clear: hsl(202deg, 100%, 70%);
$c-mistake: hsl(41deg, 100%, 45%);
$c-mistake-clear: hsl(41deg, 100%, 55%);
$c-blunder: hsl(0deg, 69%, 60%);
$c-blunder-clear: hsl(0deg, 100%, 62%);

$c-good-move: hsl(130deg, 67%, 62%);
$c-brilliant: hsl(129deg, 71%, 45%);
$c-interesting: hsl(307deg, 80%, 60%);

$c-link: $c-primary;
$c-link-dim: $c-primary-dim;
$c-link-clear: $c-primary-clear;
$c-link-hover: c-whiter(color.adjust($c-primary, $saturation: 100%), 25%);
$c-link-over: $c-primary-over;

$c-bg-box: $c-bg-high;
$c-bg-box-opaque: $c-bg-box;
$c-bg-input: c-light($c-bg-page, 13%);

$c-border: hsl(44, 35%, 20%);
$border: 1px solid $c-border;

$c-page-mask: hsla(0deg, 0%, 0%, 0.6);

$c-bg-popup: $c-bg-low;
$c-popup: $c-font-clear;

$c-bg-header-dropdown: $c-bg-popup;
$c-header-dropdown: $c-popup;

$c-darken: #333;
$c-clas: rgb(127, 90, 240);
$c-clas-over: white;

$c-font-shadow: black;
$text-shadow: none;

$c-bot: $c-fancy;

$c-bg-action: color.mix($c-bg-box, $c-font-dim, 90%);

$c-bg-metal: $c-bg-zebra;
$c-font-metal: inherit;
$metal-shadow: none;
$c-bg-metal-hover: $c-bg-zebra2;
$c-font-metal-hover: $c-font-clear;

$sente-symbol: '#{icons.$shogi-full}';
$gote-symbol: '#{icons.$shogi-outline}';
$c-sente: $c-bg-zebra2;
$c-gote: $c-font-dim;
$c-sente2: $c-bg-page;
$c-gote2: $c-font-clearer;
