@use 'sass:color';
@use 'util' as *;
@use 'dark-new' as *;
@use '../abstract/icons';

$c-bg-page: #f3eac7;
$c-body-gradient: #eee3ba;

$c-bg-high: hsl(53deg, 74%, 91%);
$c-bg-low: #f5edca;

$c-bg-zebra: hsl(48deg, 80%, 89%);
$c-bg-zebra2: hsl(48deg, 79%, 88%);

$c-font: #3a322e;
$c-font-dim: c-light($c-font, 42%);
$c-font-dimmer: c-light($c-font, 70%);
$c-font-clear: c-light($c-font, 12%);
$c-font-clearer: c-light($c-font, 0%);
$c-shade: c-whiter($c-font, 60%);
$c-font-page: c-light($c-font, 33%);

$c-accent: #b94c07;

$c-primary: #266b79;
$c-primary-dim: c-whiter($c-primary, 17%);
$c-primary-clear: c-blacker($c-primary, 17%);
$c-primary-over: #fff;

$c-secondary: #72761e;
$c-secondary-dim: c-whiter($c-secondary, 17%);
$c-secondary-dimmer: c-whiter($c-secondary, 40%);
$c-secondary-clear: c-blacker($c-secondary, 17%);
$c-secondary-over: #fff;

$c-accent-dim: c-whiter($c-accent, 17%);
$c-accent-clear: c-blacker($c-accent, 17%);

$c-brag: #b4730e;

$c-red: #af2528;
$c-error: $c-red;

$c-warn: $c-brag;

$c-fancy: #924f79;

$c-inaccuracy: hsl(202deg, 78%, 40%);
$c-mistake: hsl(41deg, 100%, 35%);
$c-blunder: hsl(0deg, 68%, 50%);

$c-good-move: hsl(130deg, 67%, 40%);

$c-link: $c-primary;
$c-link-dim: $c-primary-dim;
$c-link-clear: $c-primary-clear;
$c-link-hover: c-blacker(color.adjust($c-primary, $saturation: 100%), 35%);

$c-bg-box: $c-bg-high;
$c-bg-box-opaque: $c-bg-box;
$c-bg-input: c-light($c-bg-page, 98%);

$c-border: $c-font-dimmer;
$border: 1px solid $c-border;

$c-bg-popup: $c-bg-high;
$c-popup: $c-font;

$c-bg-header-dropdown: $c-bg-popup;
$c-header-dropdown: $c-popup;

$c-font-shadow: white;
$text-shadow: 0 1px 0 $c-font-shadow;

$c-bot: $c-fancy;

$c-bg-action: $c-bg-box;

$c-bg-metal: $c-bg-high;
$metal-shadow: 0 1px 0 white;
$c-bg-metal-hover: color.adjust($c-bg-high, $lightness: -3%);
$c-font-metal-hover: inherit;

$c-sente: $c-font-dim;
$c-gote: $c-shade;
$c-sente2: $c-font-clear;
$c-gote2: $c-bg-box;
