@use 'sass:color';

$c-site-hue: 37deg;

@function c-blacker($color, $weight) {
  @return color.mix(black, $color, $weight);
}

@function c-whiter($color, $weight) {
  @return color.mix(white, $color, $weight);
}

@function c-light($color, $value) {
  @return color.change($color, $lightness: $value);
}
