@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';
@use '../icons';

.tour-home__list {
  .slist {
    td {
      &.duration {
        white-space: nowrap;
      }
    }

    .header {
      max-width: 65%;
      letter-spacing: 2px;
      cursor: pointer;

      @include mixins.transition;

      padding: 0;

      a {
        padding: 1em;
        display: block;
      }
    }

    .players {
      & > span {
        display: block;
        margin: 0.5em 0;
      }

      .winner {
        color: theme.$c-brag;
      }
    }

    a {
      color: theme.$c-font;

      &:hover {
        color: theme.$c-link-hover;
      }
    }

    .icon {
      width: 0;

      .tour-icon {
        width: 4rem;
        height: 4rem;
      }
    }

    .name {
      font-size: 1.5em;
      display: block;

      @include breakpoint.breakpoint(media-queries.$mq-large) {
        letter-spacing: 3px;
      }
    }

    @include breakpoint.breakpoint(media-queries.$mq-not-small) {
      thead th:nth-child(2),
      thead th:nth-child(3),
      td.icon,
      td.date {
        display: none;
      }
    }
  }

  .notours {
    text-align: center;
    padding: 1rem;
  }
}
