@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';
@use '../icons';

.tour-home__list {
  max-width: 1200px;

  .slist {
    td {
      &.duration {
        white-space: nowrap;
      }
    }

    .header {
      letter-spacing: 2px;
      cursor: pointer;

      @include mixins.transition;

      padding: 0;

      a {
        padding: 1em;
        display: block;
      }
    }

    .winner {
      color: theme.$c-brag;
    }

    .players {
      & > span {
        display: block;
        margin: 0.5em 0;
      }
    }

    a {
      color: theme.$c-font;

      &:hover {
        color: theme.$c-link-hover;
      }
    }

    .name {
      font-size: 1.5em;
      display: block;

      @include breakpoint.breakpoint(media-queries.$mq-large) {
        letter-spacing: 3px;
      }
    }

    @include breakpoint.breakpoint(media-queries.$mq-not-small) {
      thead th:nth-child(2),
      thead th:nth-child(3),
      td.icon,
      td.date {
        display: none;
      }
    }
  }

  .notours {
    text-align: center;
    padding: 1rem;
  }

  .tour-scheduled .icon i {
    color: theme.$c-brag;
  }
}

.slist {
  .tour-icon {
    width: 4rem;
    height: 4rem;

    .licon {
      font-size: 3rem;
    }
  }
}
