@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/fluid-size';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';

.blog {
  .atom {
    font-size: 2.6em;
    color: theme.$c-accent;
  }

  .meta-headline {
    @extend %box-shadow;

    background: theme.$c-bg-zebra;
    padding: 1.4rem var(--box-padding) 0.4rem var(--box-padding);
    text-align: center;
    margin-bottom: 3rem;
  }

  .meta {
    span {
      display: inline-block;
      margin-right: 2em;
    }

    margin-bottom: 1.4rem;
  }

  .headline {
    display: block;
    font-size: 1.3em;
    font-style: italic;
    font-weight: normal;
  }

  .illustration,
  [data-oembed] {
    text-align: center;
  }

  .illustration {
    aspect-ratio: 26 / 9;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  img,
  .block-img {
    max-width: 100%;
  }

  .block-img img {
    width: auto;
    height: auto;
  }

  twitter-widget,
  [data-oembed] iframe {
    max-width: calc(100vw - 2 * var(--box-padding)) !important;
    margin: 30px auto !important;
  }

  &.post h1 {
    a {
      font-size: 0.6em;
      vertical-align: middle;
    }
  }

  .body {
    font-size: 1.2em;
    margin: 0 var(--box-padding) 4em var(--box-padding);
    cursor: initial;
    line-height: 1.8;

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
      margin-right: 0.2ch;
    }

    .block-img {
      text-align: center;
    }

    ol,
    ul {
      margin: 25px;
    }

    li {
      list-style: disc outside;
    }

    h2 {
      border-bottom: 2px solid theme.$c-brag;
      margin: 1.5em 0 1em 0;

      @include fluid-size.fluid-size('font-size', 20px, 32px);
    }

    h3 {
      margin: 1.2em 0 0.6em 0;
      border-bottom: theme.$border;

      @include fluid-size.fluid-size('font-size', 16px, 28px);
    }

    h4 {
      @include fluid-size.fluid-size('font-size', 14px, 26px);
    }

    img {
      padding: 5px;
      border: theme.$border;
    }

    pre {
      white-space: pre-wrap;
      font-size: 0.9em;
      line-height: 1.2;
      border: theme.$border;
      padding: 1em;
    }

    .embed {
      @extend %embed;

      margin: variables.$block-gap auto;

      &--game {
        @extend %game-embed;
      }
    }
  }

  &.index {
    @extend %flex-column;
  }

  .footer {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 40px;

    .button {
      margin: 0 var(--box-padding);
      text-transform: none;
      white-space: normal;
      display: block;

      &::before {
        vertical-align: bottom;
      }
    }

    .connect-links {
      margin-top: 2em;

      a {
        display: inline-block;
        margin: 0 0.5em;
        font-size: 0.85em;
      }
    }
  }
}

.blog-cards {
  @extend %box-padding;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 3vmin;

  > a {
    @extend %box-neat-force;

    display: flex;
    flex-direction: column;
    background: theme.$c-bg-zebra;
    color: theme.$c-font;
    position: relative;

    time {
      @extend %box-radius-bottom-right;

      position: absolute;
      top: 0;
      left: 0;
      padding: 0.2em 0.5em;
      background: theme.$m-bg-box_alpha_neg20;
      color: theme.$c-font-clear;
      opacity: 1;
    }

    img {
      width: 100%;
      background: theme.$c-bg-zebra;
    }

    .content {
      padding: 2vmin;
    }

    .title {
      font-size: 1.3em;
      color: theme.$c-font-clear;
      display: block;
    }

    span {
      @extend %roboto;

      margin-top: 2vmin;
      display: block;
    }

    &:hover {
      background: theme.$m-primary_bg-zebra_mix_10;
      color: theme.$c-font-clear;
    }
  }
}
