@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';

.search {
  &__form {
    margin-bottom: 2em;

    table {
      @extend %box-radius-force;

      width: 100%;
    }

    th {
      padding: 0 1rem;
    }

    td {
      display: flex;
      flex-wrap: wrap;
      padding: 0.4em 0.4em 0.4em 0;
      text-align: right;
      gap: 1rem;
    }

    tr:first-child td {
      padding-top: 1rem;
    }

    tr:first-child:has(+ tr.user-row.none) {
      th {
        @extend %box-radius-bottom-left;
      }

      td {
        @extend %box-radius-bottom-right;

        padding-bottom: 1rem;
      }
    }

    tr:nth-last-child(1 of .user-row) {
      th {
        @extend %box-radius-bottom-left;
      }

      td {
        @extend %box-radius-bottom-right;

        padding-bottom: 1rem;
      }
    }

    .half {
      @extend %flex-between-nowrap;

      flex: 1 188px;
      gap: 2rem;
    }

    label {
      margin-right: 0.8em;
    }

    input[type='text'] {
      width: 100%;
    }

    tr:first-child th,
    tr:first-child td,
    .user-row th,
    .user-row td {
      background: theme.$c-bg-zebra;
    }

    .single select {
      float: left;
      width: 100%;
    }

    .half select {
      width: 100%;
    }

    input.submit {
      width: 99%;
    }

    div.level {
      display: inline;
    }

    span.help {
      color: theme.$c-secondary;
      text-decoration: underline theme.$c-secondary;
    }

    .error {
      margin-left: 160px;
      color: red;
    }

    .action {
      text-align: center;
    }

    .button {
      width: 100%;
    }

    .wait {
      display: none;
    }

    &.searching {
      .spinner {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: 30px;
        height: 37px;
        margin: unset;
        margin-right: 1rem;
      }

      .wait {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .button {
        display: none;
      }
    }
  }

  &__status {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: theme.$c-bg-zebra;
    border: theme.$border;
    border-width: 1px 0;
  }
}
