@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';
@use 'local';

.advice-summary {
  @extend %flex-column;

  color: theme.$c-font-page;
  font-size: 0.9em;
  align-items: flex-start;
  line-height: 1.15em;
  min-height: var(--panel-height); // from round-underboard
  justify-content: center;

  thead tr {
    height: 1.75rem;
  }

  td {
    text-align: center;

    &:first-child {
      width: 5ch;
    }
  }

  tbody td {
    font-weight: bold;
  }

  .color-icon::before {
    vertical-align: text-bottom;
  }

  tr {
    &.symbol {
      cursor: pointer;
    }

    &.inaccuracy {
      color: theme.$c-inaccuracy;

      &:hover {
        color: theme.$c-inaccuracy-clear;
      }
    }

    &.mistake {
      color: theme.$c-mistake;

      &:hover {
        color: theme.$c-mistake-clear;
      }
    }

    &.blunder {
      color: theme.$c-blunder;

      &:hover {
        color: theme.$c-blunder-clear;
      }
    }
  }

  .button {
    margin: 0.6em 0;
  }

  @include breakpoint.breakpoint(local.$mq-col1) {
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: variables.$block-gap;
    border-bottom: theme.$border;
    margin: 0;

    table {
      flex: 0 0 calc(50% - #{variables.$block-gap});
      margin-left: variables.$block-gap;
    }

    > a {
      order: 1;
    }
  }

  @include breakpoint.breakpoint(local.$mq-col2) {
    margin-top: var(--panel-tab-height);
  }
}
