@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';

.practice-box {
  flex: 0 0 135px;
  user-select: none;

  .comment {
    flex: 0 0 30px;
    display: flex;
    align-items: stretch;
    background: theme.$c-bg-zebra;
    border-top: theme.$border;
    white-space: nowrap;
    line-height: 30px;
  }

  .progress div {
    background: theme.$c-shade;
  }

  &.goodMove .progress div {
    background: theme.$c-good;
    color: theme.$c-good-over;
  }

  &.inaccuracy .title,
  &.inaccuracy .progress div {
    background: theme.$c-brag;
    color: theme.$c-brag-over;
  }

  &.mistake .title,
  &.blunder .title,
  &.mistake .progress div,
  &.blunder .progress div {
    background: theme.$c-bad;
    color: theme.$c-bad-over;
  }

  .comment .wait {
    padding-left: 15px;
  }

  .verdict {
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .verdict::before {
    @extend %box-radius;

    width: 35px;
    height: 100%;
    margin-right: 7px;
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;
    border: 2px solid theme.$c-bg-box;
  }

  &.goodMove .verdict {
    color: theme.$c-good;

    &::before {
      background: theme.$c-good;
      color: theme.$c-good-over;
      content: '!';
    }
  }

  &.inaccuracy .verdict {
    color: theme.$c-inaccuracy;

    &::before {
      background: theme.$c-inaccuracy;
      color: #fff;
      content: '?!';
    }
  }

  &.mistake .verdict {
    color: theme.$c-mistake;

    &::before {
      background: theme.$c-mistake;
      color: #fff;
      content: '?';
    }
  }

  &.blunder .verdict {
    color: theme.$c-bad;

    &::before {
      background: theme.$c-bad;
      background: theme.$c-bad-over;
      content: '??';
    }
  }

  .comment move {
    cursor: pointer;
    margin-left: 5px;
    color: theme.$c-link;
    transition: 0.3s;
  }
}
