@use 'pkg:breakpoint-sass' as breakpoint;
@use 'local';

.analyse__side {
  display: flex;
  flex-direction: column;

  .back-to-game {
    margin-top: 2em;
    text-align: center;

    @include breakpoint.breakpoint(local.$mq-col3) {
      margin-top: 10vh;
    }

    .button {
      margin: 0 auto;
    }
  }

  .mchat {
    flex: 1 1 0;
  }
}
