@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';

.lobby__forum {
  .lobby__box__content {
    height: 100%;
  }

  ol {
    height: 100%;
    display: flex;
    flex-direction: column;

    li {
      flex: 1;
      display: flex;
      align-items: center;
      white-space: nowrap;
      border-top: theme.$border;

      a.post_link {
        display: flex;
        align-items: center;
        padding: 0.75em 10px;
        min-width: 0;
        flex: 1;
        color: theme.$c-font;
      }

      .post_topic {
        font-weight: bold;
        color: theme.$c-link;
        padding-right: 0.5rem;
      }

      span[data-icon] {
        color: theme.$c-link;
      }

      .post_text {
        @extend %roboto;
        @extend %nowrap-ellipsis;
      }

      .user-link {
        min-width: 5rem;
        padding-right: 0.75rem;
        color: theme.$c-font-dim;
        text-align: right;
      }

      &:hover {
        background: theme.$c-bg-zebra;
      }
    }
  }
}
