@use 'sass:meta';
@use 'pkg:common/abstract/icons';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/functions';
@use 'pkg:common/theme';

@mixin holiday-title($icon) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-image: functions.img-url('holidays/#{$icon}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200%;
    height: 200%;
    top: 50%;
    transform: translate(-50%, -50%) scale(50%);
    left: 50%;
  }

  &::before {
    opacity: 0;
  }
}

.site-icon.year-start {
  @include holiday-title('fuji.svg');
}

.site-icon.setsubun {
  @include holiday-title('ogre.png');
}

.site-icon.hinamatsuri {
  @include holiday-title('dolls.svg');
}

.site-icon.childrens-day {
  @include holiday-title('koinobori.svg');
}

.site-icon.tanabata {
  @include holiday-title('bamboo-tree.svg');
}

.site-icon.tsukimi {
  @include holiday-title('full-moon.svg');

  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
}

.site-icon.birthday {
  @include holiday-title('party.svg');
}

.site-icon.shogi-day {
  color: theme.$c-brag;
}

.site-icon.halloween {
  @include holiday-title('pumpkin.svg');
}

.site-icon.christmas {
  @include holiday-title('christmas-tree.svg');
}

.site-icon.year-end {
  @include holiday-title('bell.png');
}
