@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';
@use 'ui/tournament/css/icons';

.lobby__spotlights {
  flex: 0 0 auto;
}

.tour-spotlight {
  @extend %flex-center-nowrap, %nowrap-hidden, %box-neat-force;

  gap: 0.5rem;
  flex: 0 0 auto;
  padding: 0.5em;
  margin: 3px 0;
  background: theme.$c-bg-box;
  color: theme.$c-font;

  &:not(.disabled):hover {
    color: theme.$c-font;
    background: theme.$c-bg-zebra;
  }

  .licon {
    font-family: lishogi;
    font-size: 2.5rem;
    color: theme.$c-brag;
    margin: 0;
  }

  .tour-icon {
    flex: 0 0 40px;
    margin: 0;
    width: 40px;
    height: 40px;

    svg {
      padding: 2px;
    }
  }

  .content {
    .name {
      margin-top: 1px;
      line-height: 13px;
      display: block;
    }

    .headline {
      display: block;
      font-size: 0.85em;
      margin-bottom: -3px;
    }

    .more {
      font-size: 0.85em;

      time {
        margin-left: 3px;
      }
    }
  }
}
