@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

.lobby__spotlights {
  flex: 0 0 auto;
}

.tour-spotlight {
  @extend %flex-center-nowrap, %nowrap-hidden, %box-neat-force;

  flex: 0 0 auto;
  padding: 0.3em;
  margin: 3px 0;
  background: theme.$c-bg-box;
  color: theme.$c-font;

  &:not(.disabled):hover {
    color: theme.$c-font;
    background: theme.$c-bg-zebra;
  }

  .tour-icon {
    flex: 0 0 50px;
    margin: 0 0.5em 0 0.3em;
    width: 40px;
    height: 40px;
    margin: 0 5px 0 0;
  }

  .tour-icon svg {
    padding: 0.35rem;
  }

  .tour-icon i::before {
    font-size: 37px;
  }

  .content {
    .name {
      margin-top: 1px;
      line-height: 13px;
      display: block;
    }

    .headline {
      display: block;
      font-size: 0.85em;
      margin-bottom: -3px;
    }

    .more {
      font-size: 0.85em;

      time {
        margin-left: 3px;
      }
    }
  }
}
