@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';
@use 'local';

.lobby {
  &__table {
    @extend %flex-column;

    position: relative;
  }

  &__start {
    @extend %flex-column;

    justify-content: stretch;
    flex: 1 1 auto;
    margin: 0 1em 0 1em;

    @include breakpoint.breakpoint(local.$mq-col2) {
      margin: 2em 0 0 0;
    }

    button {
      color: theme.$c-font-clear;
      background: theme.$c-bg-action;
      font-size: 1.1em;
      text-align: center;
      margin: 0.15em 0;
      padding: 0.65em;
      position: relative;

      &:not(.disabled):hover {
        background: theme.$c-accent;
        color: theme.$c-accent-over;
      }

      &.disabled {
        opacity: 0.2;
      }

      &::before {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    @include breakpoint.breakpoint(local.$mq-col4) {
      justify-content: center;

      button {
        margin: 0.5em 0;
        padding: 1em;
      }
    }
  }

  &__counters {
    @extend %flex-between, %page-text;

    background: theme.$c-bg-box;
    padding: variables.$block-gap #{variables.$block-gap * 2};

    @include breakpoint.breakpoint(local.$mq-col3) {
      background: none;
      padding: 0;
    }

    @include breakpoint.breakpoint(local.$mq-col4) {
      flex-flow: column;
      align-items: flex-start;
      position: absolute;
      bottom: 0;
    }

    a {
      color: theme.$c-font-page;

      @include mixins.transition(color);

      &:hover {
        color: theme.$c-link;
      }
    }
  }
}
