@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/icons';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/theme';
@use 'header';
@use 'local';

.streamer-edit {
  .streamer-header {
    position: relative;
    margin-bottom: 2em;

    .streamer-info {
      @include breakpoint.breakpoint(media-queries.$mq-medium) {
        margin: 20px 10px 0 2em;
      }

      h1 {
        text-align: center;
      }
    }

    @include breakpoint.breakpoint(media-queries.$mq-not-medium) {
      display: flex;
      flex-direction: column;
      padding-top: 2em;
    }

    .picture-create {
      a {
        display: block;
        width: local.$pic-size;
      }
    }

    a {
      text-align: center;
    }
  }

  .status {
    @extend %box-radius;

    padding: 1em 1.5em;
    margin-bottom: 2em;
    background: theme.$c-bg-zebra;
    border: 1px solid theme.$c-warn;

    &::before {
      font-size: 2em;
      margin-right: 0.4em;
    }

    form {
      display: inline;
    }

    &.highlight {
      border-color: theme.$c-primary;
    }

    &.is-green {
      border-color: theme.$c-good;
    }

    &.mod_log {
      border: none;
    }
  }

  .mod {
    margin-bottom: 6em;
  }

  @include breakpoint.breakpoint(media-queries.$mq-medium) {
    .form-check {
      margin-top: 2rem;
    }
  }
}

.streamer-rules {
  h2 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  li {
    margin: 0.9em 0 0.9em 2.2em;
    line-height: 1.4em;
    text-indent: -2.2em;
    font-size: 0.95em;

    &::before {
      font-family: lishogi;
      content: icons.$correct;
      font-size: 1em;
      margin-right: 0.5em;
      vertical-align: middle;
      opacity: 0.8;
      color: theme.$c-good;
    }
  }
}

.streamer-picture {
  form {
    padding: 30px;
    border-top: theme.$border;
    text-align: center;
  }

  .cancel {
    padding: 40px;
    border-top: theme.$border;
  }

  .forms > *:first-child {
    margin-top: 40px;
  }

  .picture_wrap {
    text-align: center;
  }
}
