@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';
@use 'services';
@use 'local';

.streamer-header {
  display: flex;
  background-color: theme.$c-bg-zebra;
  border-bottom: theme.$border;

  .picture {
    flex: 0 0 local.$pic-size;
  }

  .overview {
    margin: 20px var(--box-padding) 0 var(--box-padding);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
  }

  .metas {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  h1 {
    @extend %roboto, %ellipsis;

    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0.7em;
  }

  .headline {
    font-style: italic;
  }

  .headline.medium {
    font-size: 0.95em;
  }

  .headline.large {
    font-size: 0.9em;
  }

  .services {
    margin: 0.5em 0;
  }
}
