@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/fluid-size';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';
@use 'local';
@use 'services';

.streamer-list {
  .streamer {
    border-top: theme.$border;
    position: relative;
    display: flex;

    @include mixins.transition;

    @include breakpoint.breakpoint(media-queries.$mq-subnav-top) {
      overflow-x: hidden;
    }

    h2 {
      @extend %roboto;

      margin-bottom: 0.7em;

      @include fluid-size.fluid-size('font-size', 23px, 40px);
    }

    &:nth-child(even) {
      background: theme.$c-bg-zebra;
      justify-content: space-between;

      .picture {
        order: 3;
      }
    }

    &:hover {
      background: theme.$m-link_bg-box_mix_15;
    }
  }

  .overlay {
    @extend %link-overlay;
  }

  .picture {
    display: none;
    flex: 0 0 local.$pic-size;

    @include breakpoint.breakpoint(local.$mq-picture) {
      display: block;
    }
  }

  .overview {
    margin: 20px 10px 0 2.5vw;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .headline {
    font-style: italic;
  }

  .headline.medium {
    font-size: 0.95em;
  }

  .headline.large {
    font-size: 0.9em;
  }

  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2;

    @include breakpoint.breakpoint(media-queries.$mq-not-xx-small) {
      transform: scale(0.7);
      transform-origin: top right;
    }

    &::before,
    &::after {
      position: absolute;
      z-index: 0;
      content: '';
      display: block;
      border: 5px solid #2980b9;
      border-top-color: transparent;
      border-right-color: transparent;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    span {
      position: absolute;
      left: -20px;
      top: 35px;
      transform: rotate(45deg);
      display: block;
      width: 225px;
      padding: 15px 0;
      background-color: theme.$c-primary;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      color: theme.$c-primary-over;
      font: 700 18px/1 Roboto;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      text-align: center;
    }
  }
}
