@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/fluid-size';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';
@use 'header';
@use 'local';

.streamer-show {
  .streamer-live-box a {
    @extend %flex-center;

    justify-content: center;
    height: 10rem;
    width: 100%;
    background-color: theme.$c-brag;
    font-size: 2rem;
    color: theme.$c-brag-over;

    &::before {
      @include mixins.transition(transform, 300ms);

      position: relative;
    }

    &:hover::before {
      transform: translateY(-5px);
    }
  }

  .picture {
    display: none;

    @include breakpoint.breakpoint(local.$mq-picture) {
      display: block;
    }
  }

  .description {
    padding: 2.5em 50px 2.5em 65px;
    font-size: 1.4em;
    border-bottom: theme.$border;

    &:empty {
      display: none;
    }
  }

  .description a {
    color: #3893e8;
  }

  .ratings {
    @extend %flex-center;

    justify-content: space-between;
    padding: 2em 50px 1em 58px;
    font-size: 1.6em;
    line-height: 0.9;
    border-bottom: theme.$border;
    color: theme.$c-font;

    span {
      margin-bottom: 1em;

      &::before {
        font-size: 1.6em;
        margin-right: 0.1em;
      }
    }
  }

  .activity {
    padding-bottom: 2em;
  }
}
