@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';
@use 'preset';
@use 'hook-chart';
@use 'hook-list';
@use '../local';

.lobby__app {
  @extend %flex-column;

  user-select: none;

  @include local.lobby-app-size;

  .lobby-nope & {
    display: none;
  }

  .tabs-horiz > span {
    flex: 1;
  }

  &__content {
    @extend %box-neat-bottom;

    flex: 1 1 100%;
    position: relative;
    background: theme.$c-bg-box;
    overflow-x: hidden;
    overflow-y: auto;

    &.lseeks,
    &.lreal_time {
      background: theme.$c-bg-box;
      isolation: isolate;

      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        color: theme.$c-bg-zebra;
        font-size: 16rem;
        position: absolute;
        width: 100%;
        height: 100%;
        background: theme.$c-bg-box;
        overflow: hidden;
        z-index: -1;
      }

      @include mixins.light-theme {
        &::before {
          color: theme.$c-font-dimmer;
          opacity: 0.4;
        }
      }

      @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
        &::before {
          font-size: 25rem;
        }
      }
    }
  }

  .lredir {
    background: theme.$c-bg-box;
    display: flex;

    .spinner {
      width: 100px;
      height: 100px;
    }
  }

  .toggle {
    position: absolute;
    padding: 0.6em;
    padding-top: 0.4em;
    cursor: pointer;
    z-index: 2;
    font-size: 1.3em;

    &.toggle-filter {
      right: 0;
    }

    @include mixins.transition;

    &:hover {
      color: theme.$c-accent;
    }
  }

  .games-filtered {
    color: theme.$c-accent;

    @include mixins.transition;

    &:hover {
      color: theme.$c-accent-dim;
    }
  }
}

.hook__filters {
  // will be overridden by _hook-filter.scss once it's loaded
  display: none;
}
