@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';

.hook__filters {
  padding: 2.75rem 1.5em;
  background: theme.$c-bg-box;
  height: 100%;
  display: block;

  td {
    padding: 0.5em 0;
  }

  td:first-child {
    font-size: 1.1em;
    padding-right: 2rem;
    width: 25%;
    white-space: normal;
  }

  .checkable {
    padding: 4.3px 0;
    margin-right: 2rem;

    label,
    input {
      vertical-align: middle;
      cursor: pointer;
    }

    input {
      margin-right: 0.5rem;
    }
  }

  .regular-checkbox {
    @extend %checkbox;
  }

  tr.variant,
  tr.days {
    td:last-child {
      display: flex;
      flex-flow: row wrap;
    }
  }

  tr.inline .checkable {
    display: inline-block;
    padding: 4.3px 0;
  }

  input {
    margin-right: 0.3em;
  }

  .range {
    display: block;
    text-align: center;
    margin-bottom: 1em;
  }

  .actions {
    margin-top: 1.5em;
    text-align: right;

    button {
      margin-left: 0.3em;
    }
  }
}
