@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/icons';
@use 'pkg:common/theme';

.hooks__list {
  table-layout: fixed;
  width: 100%;

  tr {
    &.disabled {
      opacity: 0.4;

      td {
        cursor: default;
        background: transparent;
        border-color: transparent;
      }
    }

    &.cancel {
      td {
        background: theme.$m-secondary_alpha_neg60;
        color: theme.$c-font-clear;
      }

      &:hover td {
        background: theme.$m-secondary_alpha_neg50;
      }
    }

    &.unjoinable {
      opacity: 0.4;

      td {
        cursor: default;
        background: transparent;
        border-color: transparent;
      }
    }

    &.join:hover td {
      background: theme.$m-accent_alpha_neg40;
      color: theme.$c-accent-over;
    }

    &.variants td {
      text-align: center;
      padding: 6px 0;
      background: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      cursor: default;
    }
  }

  th {
    @extend %roboto;

    padding: 1em 0;

    $color-icon-width: 35px;

    &:first-child {
      width: $color-icon-width;
    }

    &:nth-child(2) {
      width: 35%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:nth-child(5) {
      width: 22%;
    }

    &.sortable {
      position: relative;
      cursor: pointer;
      padding-left: 0;
    }

    &.sortable:hover,
    &.sort {
      font-weight: normal;
    }

    &.sortable .is {
      position: absolute;
      left: -1.2em;
      height: 100%;
      display: flex;
      align-items: center;
      top: 0;

      &::before {
        opacity: 0.15;
        margin-right: 3px;
        font-size: 1em;
        content: icons.$down;
      }
    }

    &.sortable.reverse .is::before {
      content: icons.$up;
    }

    &.sort .is::before {
      opacity: 0.7;
    }

    &.player {
      width: 110px;
    }
  }

  td {
    @extend %nowrap-ellipsis;

    word-break: break-all;
    overflow: hidden;
    padding: 0.5em 0;
    border-bottom: theme.$border;
    cursor: pointer;
    background: theme.$m-bg-box_alpha_neg50;

    &:first-child {
      padding: 0.5em 0 0.5em 0.7em;
    }

    &:first-child ::before {
      font-size: 1.2em;
      line-height: 1.3;
    }

    &:last-child ::before {
      margin-right: 8px;
      line-height: 0.9;
      font-size: 1.6em;
    }

    .long {
      font-size: 0.9em;
    }

    .very-long {
      font-size: 0.8em;
    }
  }

  tbody.stepping {
    opacity: 0.7;
  }
}

.lseeks .create {
  margin: 20px 0;
  text-align: center;

  a.accent {
    background: theme.$c-accent;

    &:hover {
      background: theme.$c-accent;
    }
  }
}
