@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/theme';

.simul {
  .halves {
    @extend %flex-center-nowrap;

    align-items: stretch;

    @include breakpoint.breakpoint(uniboard.$mq-col1-uniboard) {
      flex-direction: column;
    }
  }

  .half {
    flex: 0 0 50%;
    margin-bottom: 20px;

    &:first-child {
      border-right: theme.$border;
    }

    @include breakpoint.breakpoint(uniboard.$mq-col1-uniboard) {
      &:first-child {
        border-right: none;
      }
    }

    .variant::before {
      font-size: 1.6em;
      opacity: 0.8;
    }

    td {
      span.long {
        font-size: 0.9rem;
      }

      span.vlong {
        font-size: 0.7rem;
      }

      &.action {
        text-align: right;
      }
    }

    div.help {
      padding: 2rem;
      background: theme.$m-error_bg-box_mix_15;
      border-bottom: theme.$border;
    }
  }

  .random-accept {
    display: block;
    margin: auto;
    width: 50%;

    @include breakpoint.breakpoint(uniboard.$mq-col1-uniboard) {
      display: none;
    }
  }

  .pull-quote {
    margin: 2em auto;
    max-width: 400px;
  }

  .variant-select {
    min-width: 300px;
  }

  .jw-spinner {
    .spinner {
      margin: auto;
      height: 32px;
      width: 32px;
    }
  }
}
