@use 'pkg:common/abstract/extends';

.simul-form {
  #form3-name {
    width: 48% !important;
    display: inline-block;
  }

  .variants {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;

    .checkable {
      white-space: nowrap;

      input {
        @extend %checkbox;

        margin-right: 0.5em;
      }

      label,
      input {
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
      }
    }
  }

  .form-group {
    &.disabled {
      opacity: 0.7;
      cursor: not-allowed;

      & > * {
        pointer-events: none;
      }
    }
  }
}
