@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';
@use 'layout';
@use 'side';
@use 'created';
@use 'started';

.simul {
  h1 {
    font-size: 2.1em;
    overflow: hidden;
  }

  .author {
    font-size: 1.2em;
  }

  .finished {
    font-size: 2em;
  }

  .user-link em {
    font-weight: bold;
    padding-left: 5px;
  }

  .game-list {
    margin: 2em 0;
    grid-gap: 1rem;

    .vstext {
      flex-flow: column;
      border-bottom: 3px solid transparent;

      &.win {
        border-color: theme.$c-good;
      }

      &.loss {
        border-color: theme.$c-bad;
      }
    }
  }

  .simul-desc {
    padding: 2rem;
    margin-top: 2rem;

    h2 {
      margin-bottom: 1rem;
    }
  }

  .spinner {
    margin: 10em auto;
  }
}
